@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

#main-container {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
}

.header {
    width: 45%;
    min-width: 400px;
    align-self: center;
    padding-bottom: 40vh;
}

.title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #202336;
    mix-blend-mode: normal;
}

.simpleLogo {
    width: 150px;
    height: 150px;
}

.submit {
    width: 45%;
    align-self: flex-end;
    padding-bottom: 20vh;
    min-width: 400px;
}

input#me,
input#friend {
    width: 80%;
    box-sizing: border-box;
    display: block;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid #AFB0B9;
    outline: none;
    font-family: 'Inter', sans-serif;
}

input#submitBtn {
    width: 80%;
    height: 50px;
    margin-top: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #0EB633;
    color: white;
}

.submitTitle {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.star {
    position: absolute;
    left: -25px;
    top: -20px;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

hr {
    height: 1px;
    width: 4rem;
    margin-bottom: 50px;
}

footer {
    background-color: #F9F9FB;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #848484;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.8rem;
    font-size: 0.95rem;
}

.footer-p-title {
    font-size: 1.05em;
    margin-bottom: 1rem;
    font-weight: 600;
    color: black;
}

#footer-first-div-last-p {
    margin-top: 2rem;
}

#footer-logo {
    width: 4rem;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
}

#footer-container div {
    width: 18%;
}

#footer-container div:first-child {
    width: 50%;
    min-width: 450px;
}

@media(max-width:810px) {
    .header {
        padding-bottom: 10vh;
    }
    .submit {
        padding-bottom: 10vh;
    }
    input#me,
    input#friend,
    input#submitBtn {
        width: 100%;
    }
}