.title-commit-sub {
    font-size: 2rem;
    font-family: Playfair Display;
}

#chart-pie,
#chart-pie-description {
    display: inline-block;
}

#chart-pie {
    width: 60%;
    max-width: 500px;
}

#chart-pie-description {
    width: 40%;
}

.chart-lang-box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: .3rem;
    margin: .5rem;
}

.chart-lang-str {
    display: inline-block;
    font-family: 'Inter', sans-serif;
}

.subdiv2 {
    width: 90%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#chart-container {
    display: flex;
    align-items: center;
}

.carousel-img {
    height: 180px;
    width: auto;
}

.carousel-div {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.carousel-element {
    padding: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: .8rem;
    margin-left: .8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex!important;
    width: auto!important;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.carousel-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 1.5rem;
}