@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

#main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
}

.header2 {
    width: 90%;
    align-self: center;
}

.title2 {
    margin-top: 10vh;
}

.me {
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    display: inline-block;
}

.versus {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    color: #202336;
    mix-blend-mode: normal;
    margin-bottom: 5vh;
}

.vs {
    display: inline-block;
    position: relative;
    height: 70px;
    width: 115px;
    margin-left: 5px;
    margin-right: 5px;
}

.vs-sub {
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    color: white;
    line-height: 55px;
    transition: .3s;
}

.vs-sub:hover {
    transform: scale(1.1, 1.1);
}

#v {
    left: 5px;
    top: 15px;
    background: #0EB633;
    box-shadow: rgba(0, 0, 0, 0.08) 0 .7rem 1rem .5rem, #0eb6322a 0 .2rem .5rem .2rem;
}

#s {
    left: 50px;
    top: 40px;
    background: #0A9829;
    box-shadow: rgba(0, 0, 0, 0.08) 0 .7rem 1rem .5rem, #0a982923 0 .2rem .5rem .2rem;
}

.friend {
    display: inline-block;
    font-family: Playfair Display;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

.calendar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.selectdate {
    width: 50%;
    align-self: flex-end;
    padding-right: 10vh;
    min-width: 300px;
}

.selectdate .selectment {
    color: #000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 600;
}

.selectdate hr {
    float: right;
    margin-bottom: 2rem;
}

.subdiv {
    width: 100%;
}

.subdiv .selectment {
    color: #000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-left: 0.5em;
    margin-bottom: 0.5rem;
    float: right;
    height: 1.6em;
    border-radius: 5px;
    padding: 0.2em 0.5em 0.2em 0.7em;
}

.userClassify {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-left: 3.5rem;
    float: left;
}

.users {
    padding-bottom: 0.5rem;
}

.box {
    height: 1.2em;
    width: 1.2em;
    border-radius: .3em;
    display: inline-block;
    margin-right: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0.05rem 0.3rem 0.1rem;
    transition: .3s;
}

#box1 {
    background-color: #B9EFC2;
    box-shadow: #b9efc269 0 0.05rem 0.3rem 0.1rem
}

#box2 {
    background-color: #2C974B;
    box-shadow: #2c974a36 0 0.05rem 0.3rem 0.1rem
}

.box:hover {
    transform: scale(1.2, 1.2);
}

.usernames {
    font-size: 1.5rem;
    display: inline-block;
}

.analysis {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rectangle {
    padding: 3rem;
    margin: 1rem;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(145deg, #F9F9FB, #f0f0f0);
    box-shadow: 7px 7px 15px #bebebe65;
    font-family: PT Serif;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .3s;
}

.rectangle:hover {
    transform: rotate(-5deg) translate(-10px, -30px);
    box-shadow: 5px 20px 15px #bebebe70;
    z-index: 200;
}

.rect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.rect-names {
    margin: 0.3rem;
}

.rect-days {
    font-family: inter;
    font-size: 1.8rem;
    margin: 0.3rem;
}

#rect-total-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.rect-total-sub {
    margin-top: .5rem;
    font-weight: 100;
}

.rect-total-num {
    font-family: inter;
    font-size: 1.8rem;
    font-weight: bold;
}

/* arrow */
.wrapper {
    padding-bottom: 3rem;
}

.wrapper svg {
    width: 50px;
    height: 60px;
    margin: 0 1rem;
    cursor: pointer;
    overflow: visible;
    vertical-align: middle;
}

div svg polygon, div svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

div svg:hover polygon, div svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #2c974a36;
}

div svg:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

div svg:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.prevArrow {
    padding-right: 145px;
}

.nextArrow {
    padding-left: 145px;
}
  
@keyframes arrow-anim {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    5% {
      transform: translateX(-0.1rem);
    }
    100% {
      transform: translateX(1rem);
      opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
      opacity: 0;
    }
    20% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
} 

.wrapper span {
    color: #000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    text-align: right;
    font-weight: 600;
}

span.prev, span.next {
    vertical-align: middle;
}


@media(max-width:750px) {
    .vs,
    .friend,
    .me {
        display: block;
    }
    .vs {
        height: 110px;
        width: 100%;
    }
    #v {
        left: 41%;
    }
    #s {
        left: auto;
        right: 41%;
    }
    .friend {
        text-align: right;
    }
}

@media(max-width:620px) {
    #v {
        left: 39%;
    }
    #s {
        right: 39%;
    }
    .userClassify {
        margin-left: .5rem;
    }
    .rectangle {
        padding: 2rem;
    }
}

@media(max-width:440px) {
    #v {
        left: 33%;
    }
    #s {
        right: 33%;
    }
    .analysis {
        justify-content: flex-start;
    }
    .selectdate {
        padding-right: 1rem;
    }
    .rectangle {
        width: 100%;
    }
}